* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #0e191f;
}

/* *****MAIN***** */
.background {
    height: 100vh;
    background-color: #dadbd3;
}

.top_background {
    height: 130px;
    background-color: #009788;
}

.container {
    width: 80%;
    height: 90%;
    margin: -80px auto 0;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(75, 75, 75, 0.8);
    display: flex;
    justify-content: center;
}

/**** Sezione laterale SX ****/
.left_container {
    width: 30%;
    height: 100%;
}
.left_container .header {
    width: 100%;
    height: 60px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_container .header .user_box {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 7px 15px;
}
.left_container .header .user_box img {
    height: 100%;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.left_container .header .user_box p {
    font-weight: bolder;
    cursor: pointer;
}
.left_container .header .user_icons {
    display: flex;
}
.left_container .header .user_icons i {
    margin-right: 15px;
    font-size: 15px;
    color: #919191;
    cursor: pointer;
}

/**** Sezione notifiche alert ****/
.left_container .alert_mex {
height: 80px;
padding: 0 10px;
background-color: #9ee1fe;
display: flex;
justify-content: flex-start;
align-items: center;
}
.alert_mex .alert_bell {
    margin-right: 10px;
}
.alert_mex .alert_bell i {
    color: #9ee1fe;
    font-size: 15px;
    background-color: #fff;
    padding: 7px 5px;
    border-radius: 50%;
}
.alert_mex .alert_text {
    color: #184354;
    font-weight: lighter;
    font-size: 13px;
}
.alert_mex .alert_text a::after {
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 15px;
    margin-left: 5px;
}

/**** Ricerca utenti****/
.left_container .search_container {
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
    padding: 10px 5px;
}
.left_container .search_bar {
    width: 90%;
    background-color: white;
    border-radius: 30px;
    margin: 0 auto;
    padding: 5px 10px;

}
.left_container .search_bar i {
    color: #919191;
    margin-right: 20px;
    cursor: pointer;
}
.left_container .search_bar input {
    width: 80%;
    color: #919191;
    border: none;
    outline: 0;

    font-size: 13px;
}

/**** Chat utenti****/
.left_container .chat_users {
    height: calc(100% - 200px);
    overflow-y: auto;
    cursor: pointer;
}
.chat_users .user_box {
    height: 80px;
    padding: 10px 15px 0;
    display: flex;
    transition: all 0.1s linear;
}
.chat_users .user_box:hover {
    background-color: #edededde;
}
.chat_users .img_user {
    height: 100%;
}
.chat_users .img_user img {
    height: 85%;
    border-radius: 50%;
}
.chat_users .txt_user {
    width: 100%;
    padding: 5px 10px 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.1);
}
.chat_users .txt_user .username {
    display: flex;
    justify-content: space-between;
}
.chat_users .txt_user .username .name {
    font-size: 14px;
    font-weight: lighter;
}
.chat_users .txt_user .username .time {
    font-size: 13px;
    font-weight: lighter;
    color: #b1b1b1;
}
.chat_users .txt_user .chat_preview {
    color: grey;
    font-size: 13px;
    margin-top: 3px;
    white-space: normal;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


/****** SEZIONE DX *****/

/**Schermata iniziale**/
.start_container {
    width: 70%;
    height: 100%;
    background-color: #f8f9fb;
    color: #747474;
    text-align: center;
    padding: 120px 20% 10%;
    border-bottom: 5px solid #5fd38c;
}
.start_container img {
    height: 45%;
    margin-bottom: 30px;
}
.start_container h2 {
    font-weight: lighter;
    font-size: 30px;
    color: #27391f;
}
.start_container p {
    margin: 20px 0;
    font-size: 13px;
}
.start_container .divider {
background-color: #b1b1b1a2;
width: 100%;
height: 1px;
}
.start_container i {
    margin-right: 5px;
}
.start_container a {
    color: #5fd38c;
    font-weight: bold;
}

.right_container {
    width: 70%;
    height: 100%;
}
/**** Header DX ****/

.right_container .header {
    background-color: #ededed;
    height: 60px;
    border: 0.5px solid rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right_container .header .user_box {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.right_container .header .user_box img {
    height: 110%;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.right_container .header .user_box p {
    font-weight: bold;
    cursor: pointer;
}
.right_container .user_text p:last-child {
    font-size: 10px;
    font-weight: lighter;
    color: #919191;
}
.right_container .user_icons {
    display: flex;
}
.right_container .user_icons i {
    margin-right: 40px;
    font-size: 18px;
    color: #919191;
    cursor: pointer;
}

/*****Main della chat*****/

.right_container .chat_main{
    height: calc(100% - 130px);
    background-image: url(img/mine.jpg);
    padding: 20px 60px;
    color: #27391f;
    overflow-y: auto;
}
.chat_main .box,
.chat_main .day_main {
    display: flex;
    flex-direction: column;
}
.chat_main .day_main {
    margin-bottom: 20px;
}
.chat_main .message {
    max-width: 500px;
    margin-bottom: 20px;
    display: flex;
}
.chat_main .day.center {
align-self: center;
}
.chat_main .day.center p {
    font-size: 11px;
    text-transform: uppercase;
    color: #0e191f;
    background-color: #e1f4fb;
    border-radius: 5px;
    padding: 6px 8px;
    box-shadow: 0 1px 1px rgba(128, 128, 128, 0.5);
}
.chat_main .box .message {
    min-width: 80px;
    max-width: 500px;
    padding: 10px 30px 25px 10px;
    box-shadow: 0 0.5px 1px rgba(128, 128, 128, 0.5);
    word-break: break-all;

    position: relative;
}
.chat_main .box .message > p {
    font-size: 14px;
}
.message.sent {
    align-self: flex-end;
    background-color: #dcf8c7;
    border-radius: 10px 0 10px 10px;
}
.message.sent::after {
    content: "\f0d8";
    color: #dcf8c7;
    font-size: 30px;
    font-family: 'FontAwesome';
    font-weight: bolder;
    position: absolute;
    top: -9.5px;
    right: -9px;
    transform: rotate(-45deg);
}
.message.received {
    align-self: flex-start;
    background-color: #fff;
    border-radius: 0 10px 10px 10px;
}
.message.received::before {
    content: "\f0d8";
    color: #fff;
    font-size: 30px;
    font-family: 'FontAwesome';
    font-weight: bolder;
    position: absolute;
    top: -9.5px;
    left: -9px;
    transform: rotate(45deg);
}
.chat_main .box .message .info_box {
    position: absolute;
    top: 0;
    right: 2px;
    padding: 4px 8px;
    border-radius: 50%;
    color: #919191;
}
.chat_main .box .message .info_box i {
    font-size: 12px;
    display: none;
}

.chat_main .box .message:hover > .info_box i {
    display: block;
    cursor: pointer;
    animation: display 0.2s linear;
}

@keyframes display {
    0% {
    opacity: 0;
    font-size: 0.1px;
    }
    100% {
    opacity: 1;
    font-size: 14px;
    }
}

/*Menu messaggi in chat*/
.chat_main  .message .info_menu {
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
}
.chat_main .message .info_menu.right {
    right: -180px;
}
.chat_main .info_menu li {
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.1s linear;
}
.chat_main .info_menu li:hover {
    background-color: #ededed;
}
.chat_main .message .time_box {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 5px;
    right: 10px;

    font-size: 0.7em;
    color: #919191;
}
.chat_main .message .time_box p {
    margin-right: 5px;
}

/*****Footer*****/
.right_container .footer_main {
    height: 70px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.right_container .footer_main i {
    font-size: 19px;
    color: #919191;
    cursor: pointer;
}
.right_container .footer_main i:not(:last-child) {
    margin-right: 20px;
}
.right_container .footer_main i:last-child {
    width: 25px;
    text-align: center;
}
.right_container .footer_main input {
    flex-grow: 1;
    font-size: 16px;
    color: #0a0a0a;
    margin-right: 20px;
    padding: 8px;
    border: none;
    outline: 0;
    border-radius: 30px;
}